

__pycache__/
app_bak/

*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg-info
*.egg
*.egg-link
*.egg-info/SOURCES.txt
*.egg-info/top_level.txt
*.egg-info/dependency_links.txt
*.egg-info/requires.txt
*.egg-info/PKG-INFO
*.egg-info/not-zip-safe
*.log